<?php return [
    'key'       => 'KEY',
    'secret'    => 'SECRET',
    'next'      => null, // next server, optional
    'multiply'  => 10,
    'telegram_token'    => '',
    'telegram_chat_id'  => '',
];
